.mobile-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-color);
  padding: 15px 32px 25px 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  z-index: 5;
  max-width: 1200px;
  text-align: center;
}

.mobile-bar__list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
}

.mobile-bar__list li {
  height: 43px;
}

.mobile-bar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  font-size: 7px;
  height: 100%;
}

.mobile-bar__link svg path {
  fill: var(--gold-color);
  transition: all 0.3s ease-in-out;
}

.mobile-bar__link.active svg path {
  fill: var(--gray-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .mobile-bar {
    margin: 0 10px;
  }
}
