.message-games {
  width: 100%;
  display: flex;
  background-color: var(--gold-color);
  padding: 24px 0 18px 17px;
  border-radius: 10px;
  flex-direction: column;
  gap: 31px;
  font-size: 20px;
  background-image: url(../../assets/mount.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
}

.message-games div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-games div span {
  font-size: 8px;
}
